.spinner {
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: absolute;
    z-index: 1000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner-img {
      width: 100px;
      .spinner-text {
        font-weight: 600;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
      }
    }
}