.project {
    width: 40%;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .my-swiper-project {
        width: 80%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper-project__item {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 15px -2px #000000; 
            box-shadow: 0px 0px 15px -2px #000000;
            transition: 0.3s;
            .swiper-project__img {
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .project {
        width: 100%;
    }
}

//horizontally
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .project {
        align-items: flex-start;
    }
}