.project-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 60px;
    .id-project__item {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        align-content: space-between;
        border-radius: 5px;
        .id-project__item-block-one, .id-project__item-block-two, .id-project__item-block-three {
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                border-radius: 10px;
                box-shadow: 0px 0px 15px -3px #000000;
            }
            .id-project__item-img-native-bg {
                width: 100%;
                height: 80%;
            }
            .id-project__item-img-native-plan {
                width: 80%;
                height: 80%;
            }
            .id-project__item-img-native-mob {
               width: 200px;
               height: 380px;
            }
        }
        .id-project__item-block-text {
            width: 30%;
            height: 100%;
            color: #181818;
            font-size: 24px;
            line-height: 2rem;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            button {
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .project-item {
        .id-project__item {
            .id-project__item-block {
                .id-project__item-img-native-mob {
                    width: 37%;
                    height: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .project-item {
        .id-project__item {
            .id-project__item-block-text {
                width: 50%;
                font-size: 22px;
                line-height: 2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .project-item {
        .id-project__item {
            .id-project__item-block-one {
                width: 90%;
                margin: 0 auto;
                .id-project__item-img-native-bg {
                    width: 100%;
                    height: 100%;
                }
            }
            .id-project__item-block-two {
                width: 50%;
            }
            .id-project__item-block-three {
                width: 50%;
            }
            .id-project__item-block-text {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .project-item {
        margin-top: 0px;
        .id-project__item {
            p {
                font-size: 20px;
            }
            .id-project__item-block {
                margin-top: 20px;
            }
            .id-project__item-block-one {
                width: 100%;
                .id-project__item-img-native-bg {
                    width: 100%;
                    height: 100%;
                }
            }
            .id-project__item-block-two {
                width: 100%;
            }
            .id-project__item-block-three {
                width: 100%;
                .id-project__item-img-native-mob {
                    height: 100%;
                }
            }
            .id-project__item-block-text {
                margin-top: 40px;
                width: 100%;
            }
        }
    }
}