
.basic {
    width: 100%;
    padding: 2% 5%;
    margin-top: 8%;

    animation: 0.5s basic-animated ease-in-out;
    h3 {
        font-size: 3rem;
        color: #181818;
    }
    span {
        font-size: 1.2rem;
        color: #181818;
    }
    .my-profile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__content {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            line-height: 2rem;
            .my-profile__content-my, .my-profile__content-about {
                display: flex;
                flex-direction: column;
                .my-profile__content-my-paragraph {
                    margin-top: 40px;
                    margin-bottom: 5px;
                    font-size: 1.4rem;
                }

            }
        }
        &__my-foto {
            width: 40%;
        }
    }
    .my-skill {
        display: flex;
        width: 100%;
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        &__block {
            display: flex;
            flex-direction: column;
            width: 45%;
            margin: 10px 0px;
            animation: basic-animated 0.1s ease-in-out;
            opacity: 0;
            animation-fill-mode: both;
            transition: opacity 0.3s ease-in-out;

            &:nth-child(1) {
                animation-delay: 0.6s; 
            }
            &:nth-child(2) {
                animation-delay: 0.7s; 
            }
            &:nth-child(3) {
                animation-delay: 0.8s; 
            }
            &:nth-child(4) {
                animation-delay: 0.9s; 
            }
            &:nth-child(5) {
                animation-delay: 1s; 
            }
            &:nth-child(6) {
                animation-delay: 1.1s; 
            }
            &:nth-child(7) {
                animation-delay: 1.2s; 
            }
            &:nth-child(8) {
                animation-delay: 1.3s; 
            }
            &:nth-child(9) {
                animation-delay: 1.4s; 
            }
            &:nth-child(10) {
                animation-delay: 1.5s; 
            }
            &:nth-child(11) {
                animation-delay: 1.6s; 
            }
            &:nth-child(12) {
                animation-delay: 1.7s; 
            }
            &:nth-child(13) {
                animation-delay: 1.8s; 
            }
            &:nth-child(14) {
                animation-delay: 1.9s; 
            }
            &:nth-child(15) {
                animation-delay: 2s; 
            }
            .my-skill__block-progress {
                display: flex;
                flex-direction: row;
                align-items: center;
                .my-skill__block-progress-percent {
                    background: linear-gradient(75deg, rgba(210,210,210,1) 0%, rgba(88,88,88,1) 100%);
                    height: 8px;
                    border-radius: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
    .my-projects {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 40px;
        gap: 2rem;
        position: relative;
        .my-projectts__item {
            flex: 1 1 calc((100% / 3) - 2rem);
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);        
            .my-projectts__item-hover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color:rgba(0, 0, 0, .4);
                display: flex;
                justify-content: center;
                align-items: center;
                .my-projectts__item-hover-link {
                    background: #fff;
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: #181818;
                }
            }
        }

    }
    .my-skill-chart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
        .my-skill-chart-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: basic-animated 0.1s ease-in-out;
            opacity: 0;
            animation-fill-mode: both;
            transition: opacity 0.3s ease-in-out;

            &:nth-child(1) {
                animation-delay: 0.6s; 
            }
            &:nth-child(2) {
                animation-delay: 0.8s; 
            }
            &:nth-child(3) {
                animation-delay: 1s; 
            }
            &:nth-child(4) {
                animation-delay: 1.2s; 
            }
        }
        .my-skill-chart__title {
            width: fit-content;
            font-size: 24px;
            font-weight: 5600;
        }
    }

    .btn-skill {
        margin-top: 20px;
        border: 1px solid #818078;
        padding: 2px 8px;
        border-radius: 3px;
        transition: 0.3s all;
        &:hover {
            background: #181818;
            color: #fff;
        }
    }
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    margin-top: 30px;
    &:before {
      content: '';
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: '';
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 .5em;
      line-height: 1.5em;
      color: #818078;
      background-color: #fcfcfa;
    }
  }

@keyframes basic-animated {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 992px) {
    .basic {
        margin-top: 10%;
        .my-projects {
            .my-projectts__item {
                flex: 1 1 calc((100% / 2) - 2rem);
            }
        }
    } 
}

@media screen and (max-width: 576px) {
    .basic {
        h3 {
            margin-top: 30px;
            font-size: 2.5rem;
        }
        .my-profile {
            flex-direction: column-reverse;
            &__content {
                width: 100%;
            }
            &__my-foto {
                width: 100%;
                margin-top: 15%;
            }
        }
        .my-skill {
            &__block {
                width: 100%;
            }
        }
        .my-projects {
            .my-projectts__item {
                flex: 1 1 calc((100% / 1) - 2rem);
            }
        }
    } 
}