@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ Book.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ SemiBold.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ SemiBold\ Italic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ Bold.ttf') format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ Bold\ Italic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri';
    src: url('../font/Cerebri\ Sans\ Heavy.ttf') format('ttf');
    font-weight: 800;
}

@font-face { 
    font-family: "Helvetica Regular";
    src: url("../font/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}