body {
    height: 100%;
    width: 100%;
    overflow: scroll;
    // position: relative;
    //background: linear-gradient(135deg, #313330, #2f312e, #2a2c2a, #242524, #1e1f1e, #1a1a1a, #181818);
    // background: url('../../public/images/body/h-ygyrw_MuBg.png') no-repeat center;
    background-size: cover;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Cerebri Sans', 'Helvetica Regular', sans-serif;
    -webkit-text-size-adjust: none;
}

header {
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
}

.container-block {
    width: 100%;
    padding-left: 2%;
}

::-webkit-scrollbar { 
    display: none; 
}

.link-item {
    width: 100%;
    display: flex;
    justify-content: center;
}