body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: linear-gradient(135deg, #313330, #2f312e, #2a2c2a, #242524, #1e1f1e, #1a1a1a, #181818);
    // background: url('../../public/images/body/h-ygyrw_MuBg.png') no-repeat center;
    background-size: cover;
    text-align: left;
    box-sizing: border-box;
    font-family: 'Cerebri Sans', 'Helvetica Regular', sans-serif;
}

header {
    position: absolute;
    width: 100vw;
    z-index: 1000;
}

a:hover {
    color: rgb(131, 131, 131) !important;
    transition: 0.3s;
}

.container-block {
    width: 100%;
    padding-left: 2%;
}