.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
    width: 100%;

    &__name {
        color: white;
        font-size: 26px;
        font-weight: 500;
        color: #333333; // мягкий тёмный цвет
        transition: color 0.3s ease;

        border: 1px solid #9b9b9b;
        border-radius: 20px;
        padding: 5px 10px;

        box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

        background: rgb(255, 217, 0);

        &:hover {
            transition: 0.3s;
            color: rgb(131, 131, 131);
            background: rgb(253, 227, 78);
            box-shadow: 0px 4px 8px 0px rgba(101, 178, 236, 0.2);
        }
    }

    .home-icon {
        display: none;
    }

    &__media {
        display: none;
    }

    &__panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
        position: relative;
        height: 23px;

        .panel__icon {
            margin-right: 20px;
            position: relative;
            cursor: pointer;
            transition: transform 0.3s ease;
            overflow: hidden;
        }

        .panel__icon::before {
            content: '';
            position: absolute;
            width: 110%;
            height: 110%;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            transform: scale(0);
            transition: transform 0.5s;
        }

        .panel__icon:active::before {
            transform: scale(1);
        }

        .icon-glow::after {
            content: '';
            position: absolute;
            inset: -2px;
            border-radius: 50%;
            background: radial-gradient(circle,
                    rgba(0, 136, 204, 0.35),
                    transparent 70%);
            opacity: 0;
            transition: opacity 0.3s;
        }

        .icon-glow:hover::after {
            opacity: 1;
        }

        .panel__icon:hover {
            transform: scale(1.1);
        }

        .panel__icon-animate-vk {
            animation: animation-icon-vk 3s infinite linear, cubic-bezier(1, 0, 0, .5);
            transition: all 0.5s ease-out;
        }

        .panel__icon-animate-telegram {
            animation: animation-icon-telegram 2s infinite linear, cubic-bezier(1, 0, 0, .5);
            transition: all 0.5s ease-out;
        }

        .panel__icon-animate-email {
            animation: animation-icon-email 1s infinite linear;
            transition: all 0.5s ease-out;
        }

        &__burger,
        .burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin-left: 50px;
            cursor: pointer;
            z-index: 21;

            &__line {
                width: 35px;
                height: 4px;
                transition: 0.3s;
                border-radius: 5px;
                background: #fff;
                margin: 6px 0;
                transition: all 0.4s ease;
            }

            &__line-one {
                transform: rotate(-45deg);
                position: absolute;
            }

            &__line-two {
                transform: rotate(45deg);
            }
        }
    }

}

//Animation
@keyframes animation-icon-vk {
    0% {
        transform: rotateX(0deg);
    }

    25% {
        transform: rotateX(180deg);
    }

    50% {
        transform: rotateX(0deg);
    }

    75% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes animation-icon-telegram {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(25deg) scale(1.1);
    }

    50% {
        transform: rotate(-25deg) scale(1.1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes animation-icon-email {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0);
    }
}

.panel__icon:hover {
    animation: float 0.6s ease;
}



@media screen and (max-width: 576px) {
    .navigation {
        &__name {
            display: none;
        }

        .home-icon {
            display: block;
        }

        &__panel {
            width: 100%;
        }

        .burger {
            margin-left: 0px;
        }
    }

    .panel__icon svg path{
        fill: #fff;
    }
}